<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src='https://www.gstatic.com/firebasejs/5.0.4/firebase.js'></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: 'AIzaSyCAyLFpx8SozD7zQzbfgQhvjwE_wSknwkQ',
            authDomain: 'kearch-official.firebaseapp.com',
            databaseURL: 'https://kearch-official.firebaseio.com',
            projectId: 'kearch-official',
            storageBucket: 'kearch-official.appspot.com',
            messagingSenderId: '698807800186'
        }
        firebase.initializeApp(config)
    </script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
    <script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.debug.js" integrity="sha384-CchuzHs077vGtfhGYl9Qtc7Vx64rXBXdIAZIPbItbNyWIRTdG0oYAqki3Ry13Yzu" crossorigin="anonymous"></script>
    <script src="/js/html2canvas.js"></script>
    <script src="/js/htmlPdf.js"></script>

    <script>
      $(document).ready(function() {
        function checkIfLoggedIn() {
          firebase.auth().onAuthStateChanged(function(user) {
            if (user) {
          
              var tmp_googletrends = $.parseJSON($('#trends_data').text());

              // function for storing url parameters
              $.urlParam = function(name) {
                var results = new RegExp('[\?&]' + name + '=([^#]*)').exec(window.location.href);
                return results[1].split('&' + name + '=') || 0;
              }
              var tmp_googletrends_keywords = $.urlParam('keywords');
              console.log(tmp_googletrends_keywords);
              var tmp_googletrends_keywords_full = []
              for (var n=0; n<5; n++) {
                if (tmp_googletrends_keywords[n] != undefined && tmp_googletrends_keywords[n] != '') {
                  tmp_googletrends_keywords[n] = tmp_googletrends_keywords[n].replace(/\+/g, ' ');
                  tmp_googletrends_keywords[n] = decodeURIComponent(tmp_googletrends_keywords[n]);
                  tmp_googletrends_keywords_full.push(tmp_googletrends_keywords[n]);
                }
              }
              console.log(tmp_googletrends_keywords_full);

              var tmp_ubersuggest = $.parseJSON($('#result').text());
              // $('#result').html(tmp_ubersuggest.replace(/", "/g, '<br>').replace(/\["/g, '<br>').replace(/\]"/g, '<br>'));
              console.log(tmp_ubersuggest);

              // country rank table
              var outputRank = [];
              if (tmp_googletrends_keywords_full && tmp_googletrends_keywords_full.length && tmp_googletrends[1] && tmp_googletrends[1].length) {
                var rankTable = ['<table>'];
                rankTable.push('<tr><th>Rank</th>');
                for (var v=0; v<tmp_googletrends_keywords_full.length; v++) {
                  rankTable.push('<th>', tmp_googletrends_keywords_full[v], '</th>', '<th>', 'Relatively Search Volume (0-100)', '</th>');
                }
                rankTable.push('</tr>');
                for (var r=0; r<10; r++) {
                  rankTable.push('<tr>', '<td>', r+1, '</td>');
                  for (var k=0; k<tmp_googletrends_keywords_full.length; k++) {
                    if (tmp_googletrends[1][k][r]) {
                      rankTable.push('<td><a href="/country/?keyword=', tmp_googletrends_keywords_full[k], '&country=', tmp_googletrends[1][k][r]["geoCode"], '">', tmp_googletrends[1][k][r]["geoName"], '</a></td>', '<td>', tmp_googletrends[1][k][r][tmp_googletrends_keywords_full[k]], '</td>');
                    }
                  }
                  rankTable.push('</tr>');
                }
                rankTable.push('</table>');
                outputRank.push(rankTable.join(''));
              } else {
                outputRank.push('');
              }
              document.getElementById('countryRank').innerHTML = outputRank.join('');

              // keyword suggestions table
              var outputSuggest = [];
              if (tmp_googletrends_keywords_full && tmp_googletrends_keywords_full.length && tmp_ubersuggest && tmp_ubersuggest.length) {
                var keywordTable = ['<table>'];
                keywordTable.push('<tr>');
                for (var v=0; v<tmp_googletrends_keywords_full.length; v++) {
                  keywordTable.push('<th>', tmp_googletrends_keywords_full[v], '</th>');
                }
                keywordTable.push('</tr>');
                for (var s=0; s<50; s++) {
                  keywordTable.push('<tr>');
                  for (var u=0; u<tmp_ubersuggest.length; u++) {
                    if (tmp_ubersuggest[u][s]) {
                      keywordTable.push('<td>', tmp_ubersuggest[u][s], '</td>');
                    }
                  }
                  keywordTable.push('</tr>');
                }
                keywordTable.push('</table>');
                outputSuggest.push(keywordTable.join(''));
              } else {
                outputSuggest.push('<p>Results not found</p>');
              }
              document.getElementById('result').innerHTML = outputSuggest.join('');

              // canvas.js
              console.log($('#trends_data').text());
              if($('#trends_data').text() != '[]') {

                var dataPoints = [[], [], [], [], []];
                var chart = new CanvasJS.Chart("trends", {
                  animationEnabled: true,
                  theme: "light2",
                  title: {
                    text: "Search Trends"
                  },
                  axisY: {
                    title: "Search Times",
                    titleFontSize: 24
                  },
                  toolTip: {
                    shared: "true"
                  },
                  legend: {
                    cursor: "pointer",
                    itemclick: toggleDataSeries
                  },
                  data: [{
                    type: "spline",
                    visible: true,
                    showInLegend: true,
                    yValueFormatString: "#,### Times",
                    name: tmp_googletrends_keywords[0],
                    dataPoints: dataPoints[0]
                  },
                  {
                    type: "spline",
                    visible: true,
                    showInLegend: true,
                    yValueFormatString: "#,### Times",
                    name: tmp_googletrends_keywords[1],
                    dataPoints: dataPoints[1]
                  },
                  {
                    type: "spline",
                    visible: true,
                    showInLegend: true,
                    yValueFormatString: "#,### Times",
                    name: tmp_googletrends_keywords[2],
                    dataPoints: dataPoints[2]
                  },
                  {
                    type: "spline",
                    visible: true,
                    showInLegend: true,
                    yValueFormatString: "#,### Times",
                    name: tmp_googletrends_keywords[3],
                    dataPoints: dataPoints[3]
                  },
                  {
                    type: "spline",
                    visible: true,
                    showInLegend: true,
                    yValueFormatString: "#,### Times",
                    name: tmp_googletrends_keywords[4],
                    dataPoints: dataPoints[4]
                  }]
                });

                function addData(data) {
                  for (var i = 0; i < 5; i++) {
                    if (tmp_googletrends_keywords[i] != "") {
                      for (var j = 0; j < tmp_googletrends[0].length; j++) {
                        dataPoints[i].push({
                          x: new Date(tmp_googletrends[0][j].date),
                          y: tmp_googletrends[0][j][tmp_googletrends_keywords[i]]
                        });
                      }
                    } else {
                      dataPoints[i] = [];
                    }
                  }
                  chart.render();
                }
                addData();
                console.log(dataPoints);

                function toggleDataSeries(e) {
                  if (typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                    e.dataSeries.visible = false;
                  } else {
                    e.dataSeries.visible = true;
                  }
                  chart.render();
                }

              }
              else {
                document.getElementById('trends').innerHTML = '<h2>Not Enough Data</h2>';
              }
        
            } else {
                window.location.replace('/');
            }
          });
        }
        checkIfLoggedIn();
      });

      function loading () {
        document.getElementById('hint').innerText = 'loading...';
        var elem = document.getElementById('bar');
        var width = 0;
        var id = setInterval(frame, 80);
        function frame() {
          if (width >= 100) {
            clearInterval(id);
          } else {
            width++;
            elem.style.width = width + '%';
            elem.innerHTML = width * 1  + '%';
          }
        }
        document.getElementById('bar').innerHTML = '';
        document.getElementById('hint').innerHTML = '';
      }

      function reload() {
        location.reload();
      }

    </script>
    <script src="/js/firebaseAuth.js"></script>
    <style>
      html, body {
        background-color: #ffffff;
      }
      #loading {
        width: 100%;
        background-color: #fff;
      }

      #bar {
        width: 0%;
        height: 10px;
        background-color: #081944;
        text-align: center;
        font-size: 10px;
        line-height: 10px;
        color: white;
      }

      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }

      td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }

      tr:nth-child(even) {
        background-color: #dddddd;
      }

      #btn-htmlPdf, #signout {
        height: 40px;
        width: 150px;
        font-size: 18px;
        position: relative;
        margin-left: 50%;
        margin-right: 50%;
        margin-bottom: 5px;
        transform: translateX(-50%);
        text-align: center;
      }
    </style>
  <body>
    <% include template/header.ejs %>

    <h1>Kearch 2.0</h1>
    <form id="search" method="GET" action="/kearch">
        <label>Keywords:  </label>
        <input id="keywords" name="keywords" type="text" /> <input id="keywords" name="keywords" type="text" /> <input id="keywords" name="keywords" type="text" /> <input id="keywords" name="keywords" type="text" /> <input id="keywords" name="keywords" type="text" /><br><br>
        <!-- <label>Country: </label><input id="country" name="country" type="text" /><br><br> -->
        <!-- <span>目前尚不支援中文搜尋</span> -->
        <button
          id="generate"
          class="btn btn-info"
          type="submit"
          value="Generate"
          onclick="loading()"
        >
          <b>Generate</b>
        </button>
      <br>
    </form>
    <br>
    Reload again if you can't see data correctly: 
    <button 
      id="reload"
      class="btn btn-light"
      value="Reload"
      onclick="reload()"
    >
      Reload
    </button>
    <br><br>
    <div id="hint"></div>
    <div id="loading">
      <div id="bar">0%</div>
    </div>
    <div id="content">
      <div id="trends_data" style="font-size: 0px;"><%= trends_data %></div>
      <div id="trends" style="font-size: 16px; height: 400px;"><%= trends %></div><br><br>
      <div id="countryRank"></div><br><br>
      <div id="result"><%= result %></div>
    </div>
    <br>
    <button
      id="btn-htmlPdf"
      class="btn btn-info"
    >
      Export to PDF
    </button>
    <button 
      id="signout"
      class="btn btn-danger"
      onclick={signOut()}
      style="display: inline-block; visibility: visible;"
    >
      Sign Out
    </button>
  </body>
</html>
