<!DOCTYPE html>
<html>
    <head>
        <title>Login - Kearch 2.0</title>
        <script src='https://www.gstatic.com/firebasejs/5.0.4/firebase.js'></script>
        <script>
            // Initialize Firebase
            var config = {
                apiKey: 'AIzaSyCAyLFpx8SozD7zQzbfgQhvjwE_wSknwkQ',
                authDomain: 'kearch-official.firebaseapp.com',
                databaseURL: 'https://kearch-official.firebaseio.com',
                projectId: 'kearch-official',
                storageBucket: 'kearch-official.appspot.com',
                messagingSenderId: '698807800186'
            }
            firebase.initializeApp(config)
        </script>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script>
            $(document).ready(function() {
                function checkIfLoggedIn() {
                    firebase.auth().onAuthStateChanged(function(user) {
                        if (user) {
                            window.location.replace('/kearch');
                        }
                    });
                }
                checkIfLoggedIn();
            });
        </script>
    </head>
    <body>
        <h1>Welcome back to Kearch 2.0!</h1>
        <div style="margin-top: 20px;">
            <label for="email">
                <b>Email</b>
            </label>
            <input
                id="email"
                name="email"
                type="text"
                placeholder="Your Email:"
                required
            >
            <label for="psw">
                <b>Password</b>
            </label>
            <input
                id="pwd"
                name="password"
                type="password"
                placeholder="Your Password:"
                required
            >
            <label>
                <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
            </label>
            <div class="clearfix">
                <button
                    id="signinByEmail"
                    class="btn btn-info"
                    onclick={signInWithEmailAndPassword()}
                >
                    Login
                </button>
            </div>
        </div>
        <br>
        Or <button 
            id="signin"
            class="btn btn-secondary"
            onclick={signInWithGoogle()}
        >
            Login With Google
        </button>
        <br><br>--<p>Haven't create your account? <a href="/signup">Sign up now</a>.</p>
        <button
            id="signout"
            onclick={signOut()}
            style="display: none; visibility: hidden;"
        >
            LogOut
        </button>
        <script src="/js/firebaseAuth.js"></script>
    </body>
</html>